#################
## R packages
#################

*.Rproj
*.Rdata
*.Rhistory
.Rbuildignore
.Rhistory
NAMESPACE
man/*.Rd
R/*.R~
*~
auto/
*.tex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex
*.synctex.gz
*.dvi
*.pdf
.Rproj.user
*~
.R~
#*#