#################
## R packages
#################

*.Rproj
*.Rdata
*.Rhistory
.Rbuildignore
.Rhistory
*~
.R~
*#
NAMESPACE
##man/*.Rd
auto/
*.tex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex
*.synctex.gz
*.dvi
*.pdf
.Rproj.user
vignettes/cache*
vignenettes/figure*
